### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*,'hello',-87.8,-,/,+,6

   **Ans:** There are Three values and four operators in the above elements.

   **Operators:** *, -, /, +

   **Values:** 'hello',-87.8,6

### 2. What is the difference between string and variable?

**Ans:** A **variable** is used to store the information it is like an empty box that we can fill it with some value,**Strings** are data to fill in the variable.There are some rules to declare a variable but we can dentote a string in **'  '(single quotes) or in "  "(double quotes)**

**Example**: **Name = 'Sandeep'**      #here name is a variable and 'Sandeep' is a string

### 3. Describe three different data types.

**Ans:** The Basic datatypes avaliable in python are **int,float,booleans,complex**

**int**(integer):Integers are one of the types used to represent the numbers in python.They can be both positive and negative and may be arbitary large.

In [9]:
# examples of a integer

num = 56 #positive number
print(num)

neg_num = -45 #negative number
print(neg_num)

large_num = 12345678901234567890
print(large_num)

56
-45
12345678901234567890

**float:** Float is another datatype where we can represent decimal values in both positive and negative.

In [10]:
# examples of float

pie_values = 3.1416
print(pie_values)

std_form = 0.302000000000000000000000
print(std_form)

3.1416
0.302

**Boolean**: is a built-in logical data type that is mainly used for checking whether the logic of an expression is true or false.There are only two boolean values **True , False**

In [11]:
# examples of boolean

print(True)
print(False)

true_value = True
false_value = False
print(true_value)
print(false_value)

True
False
True
False

### 4. What is an expression made up of? What do all expressions do?

**Ans:** An expression is a combination values,operators and operands a that is interpreted to produce some other values.

In [12]:
# example of expression

a = 3
5+5*3/6-a  # here the operators are +,*,/ and values are values 5,5,3,6 amd operands are a.

4.5

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

**Ans:** An **expression** is a combination values,operators and operands a that is interpreted to produce some other values and a **Statement** is an instruction that a python interpreter can excute in simple words every newline in a python script is a statement.

In [13]:
# example of an expression

a = 3
5+5*3/6-a  # here the operators are +,*,/ and values are values 5,5,3,6 amd operands are a.

4.5

In [14]:
# example of a statement

new = 10 # this is a statement

if new==10: # this is also a statement.there are other kinds of statement for,while,if
    print('This is a statement')

This is a statement

### 6. After running the following code, what does the variable bacon contain?

**bacon = 22**

**bacon + 1**

**Ans:** In the first statement we have assigned a value 22 to the variable bacon and in the second statement we are just adding the value 1 to the bacon.it is not going to reassign the value to the variable bacon.if you want to reassign we have to use this syntax **bacon = bacon + 1** or **bacon += 1**.

In [15]:
# executing the code

bacon = 22
bacon + 1
print(bacon)

22

In [16]:
# trying to ressign the value

bacon = 22
bacon +=1   # we can also use bacon = bacon + 1
print(bacon)

23

### 7. What should the values of the following two terms be?

**'spam' + 'spamspam'**

**'spam' * 3**

**Ans:** Both expressions gives the same output but first expression is **string concatination** and second expression is a **string multiplication**

In [17]:
# string concatination
'spam' + 'spamspam'

'spamspamspam'

In [18]:
# string multiplication
'spam'*3

'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

**Ans:** There are some conditions to specify the variable names in python.
* A variable name must start with a letter or the underscore character.
*A variable name cannot start with a number.
*A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*Variable names are case-sensitive (age, Age and AGE are three different variables)

In [19]:
# example for valid variable name

eggs = 'Sandeep'   # here we have specified the variable name based on above conditions
print(eggs)

Sandeep

In [21]:
# examples for invalid variable name

100 = 'Sandeep'
print(100)  
'''raised syntax error because we didn't follow the second condition 
where we cannot start a variable name with number.'''

SyntaxError: cannot assign to literal (<ipython-input-21-832c80080f65>, line 3)

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

**Ans:** `int()`,`float()`,`str()` funtions are used to get integer,floating-point and string.This is known as casting.

* `int()` - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
* `float()` - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
* `str()` - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [27]:
# examples of integer
num0 = int(5)
num1 = int(5.0)
num2 = int('5')
#num3 = int('sandeep') we are not able to convert the string with characters in to integers as well as floats
print('integer:',num0,num1,num2)   # here all the values are converted in to integer.

#examples of float
flt0 = float(5)
flt1 = float(5.0)
flt2 = float('5.0')
print('float',flt0,flt1,flt2)

# examples of str
str0 = str(5)
str1 = str(5.0)
str2 = str('5.0')
print('string',str0,str1,str2)

integer: 5 5 5
float 5.0 5.0 5.0
string 5 5.0 5.0

### 10. Why does this expression cause an error? How can you fix it?

**'I have eaten ' + 99 + ' burritos.'**

**Ans:** in the above expression we are tring to concatinating **integer(99)** with string.in order to concatinate we have to convert or cast the integer into string.

In [28]:
'i have eaten' + 99 + 'burritos' # we got type error because we can't concatenate int with str

TypeError: can only concatenate str (not "int") to str

In [31]:
# casting integer into a string

'i have eaten ' + str(99) + ' burritos'

'i have eaten 99 burritos'